
p{
    color: blueviolet;
    font-weight: bold;
    text-align: right;
    font-size: 15px;
}

h2{
    color: darkblue;
}

a{
    color: red;
    font-size: 25px;
}

.importante{
    color: yellowgreen;
    font-size: 20px;
    text-align: left;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}