/* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    /* Formulario de login */
    .formulario-login {
        position: fixed;
        right: 0%;
        top: 50px;
        background-color: darkgrey;
        padding: 10px;
        width: 500px;
        z-index: 10;
    }
    .formulario-login label {/* Color del texto de los labels del formulario */
      color: black;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
    .formulario-login {
      width: 100%;
    }
  }
  .header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
/* Marco para la fila */
.marco{
  border: 1px solid;
  padding-bottom: 5px;
  padding-top: 5px;
}
/* Agrega estilo reponsive a la imagen de la mascota de cada fila */
.img-mascota2{
  width: 100%;
  height: 320px;
  background-image: url('../img/labrador.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img-mascota1{
  width: 100%;
  height: 320px;
  background-image: url('../img/ovejero aleman.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img-mascota3{
  width: 100%;
  height: 320px;
  background-image: url('../img/pitbull.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
